{% extends '::base.html.twig' %}

{% block body %}
	<h1>Hello, {{ app.user }}</h1>
	<ul>
		<li><a href="{{ path('admin_readers_list') }}">Readers</a></li>
		<li><a href="{{ path('admin_orders_list') }}">Orders</a></li>
		<li><a href="{{ path('admin_dashboard') }}">Debtors</a></li>
		<li><a href="{{ path('admin_user_security_logout') }}">logout</a></li>
	</ul>
{% endblock %}