{% extends '::base.html.twig' %}

{% block javascripts %}
	{% javascripts output="js/orders-create.js"
	'../app/Resources/public/js/scripts.js' %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block body %}
	{{ form_errors(form) }}
	<form action="{{ form.vars.action }}" {{ form_enctype(form) }} method="post">
		<div>
			{{ form_label(form.reader) }}
			{{ form_widget(form.reader) }}
		</div>
		<div>
			{{ form_label(form.items) }}
			<ul class="items" data-prototype="{{ form_widget(form.items.vars.prototype)|e }}">
				{% for item in form.items %}
					<li>{{ form_widget(item) }}</li>
				{% endfor %}
			</ul>
		</div>
		<div>
			{{ form_label(form.librarian) }}
			{{ form_widget(form.librarian) }}
		</div>
		<div>
			<input type="submit" value="Save" />
		</div>
		{{ form_widget(form.id) }}
		{% if form._token is defined %}
			{{ form_widget(form._token) }}
		{% endif %}
	</form>
{% endblock %}