{% extends '::base.html.twig' %}

{% block body %}
	<a class="btn btn-default btn-info" href="{{ path('admin') }}">Admin panel</a>
	<a class="btn btn-default btn-info" href="{{ path('admin_orders_create') }}">Create order</a>

	{% if pagination.getTotalItemCount > 0 %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Reader name</th>
					<th>Order items info</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			{% for order in pagination %}
				<tr>
					<td>{{ order.id }}</td>
					<td>{{ order.reader.username }}</td>
					<td>
						{% if order.items|length > 0 %}
						<table class="table table-bordered block">
							<thead>
								<tr>
									<th>orderItem ID</th>
									<th>expired at</th>
									<th>closed</th>
									<th>book name</th>
								</tr>
							</thead>
							<tbody>
							{% for item in order.items %}
								<tr {% if item.isExpired() %}class="bg-danger"{% endif %}>
									<td>{{ item.id }}</td>
									<td>{{ item.expiredAt|date("d.m.Y") }}</td>
									<td>{% if item.closed %}Y{% else %}N{% endif %}</td>
									<td>{{ item.book.name }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
						{% endif %}
					</td>
					<td>
						<a class="btn btn-default btn-danger" href="{{ path("admin_orders_delete", {id : order.id}) }}">Kill</a>
						<a class="btn btn-default btn-warning" href="{{ path("admin_orders_edit", {id : order.id}) }}">Edit</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{# display navigation #}
		<ul class="pagination">
			{{ knp_pagination_render(pagination) }}
		</ul>

	{% endif %}

{% endblock %}