{% extends '::base.html.twig' %}

{% block body %}
<h1>Привет {{ app.user }}</h1>
	<ul>
		<li><a href="{{ path('library') }}">Library (for readers)</a></li>
		<li><a href="{{ path('admin') }}">Admin panel (for librarians)</a></li>
	</ul>
{% endblock %}