{% extends '::base.html.twig' %}

{% block body %}

	{% if app.user %}
		<a class="btn btn-info" href="{{ path('fos_user_security_logout') }}">Logout</a>

		{% if app.user.orders|length > 0 %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Order ID</th>
					<th>Librarian Username</th>
					<th>Created at</th>
					<th>Updated at</th>
					<th>Order details (items)</th>
				</tr>
			</thead>
			<tbody>
				{% for order in app.user.orders %}
					<tr>
						<td>{{ order.id }}</td>
						<td>{{ order.librarian.username }}</td>
						<td>{{ order.createdAt|date("d.m.Y H:i:s") }}</td>
						<td>{{ order.updatedAt|date("d.m.Y H:i:s") }}</td>
						<td>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Closed</th>
										<th>Expiration date</th>
										<th>Book</th>
										<th>Book authors</th>
									</tr>
								</thead>
								<tbody>
									{% for item in order.items %}
										<tr {% if not item.closed %}class="bg-danger" {% endif %}>
											<th>{% if item.closed %}Y{% else %}N{% endif %}</th>
											<th>{{ item.expiredAt|date('d.m.Y') }}</th>
											<th>{{ item.book.name }}</th>
											<th>{{ item.book.authors|join(', ') }}</th>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
			<div class="panel-danger">You have not orders</div>
		{% endif %}

	{% else %}
		<a class="btn btn-info" href="{{ path('fos_user_registration_register') }}">Register</a>
		<a class="btn btn-info" href="{{ path('fos_user_security_login') }}">Login</a>
	{% endif %}

{% endblock %}