{% extends '::base.html.twig' %}

{% block body %}
	<form action="{{ path('admin_readers_create') }}" {{ form_enctype(form) }} method="POST">
		{{ form_widget(form) }}
		<div>
			<input type="submit" value="Create user" />
		</div>
	</form>
{% endblock %}