{% extends '::base.html.twig' %}

{% block body %}
	<a class="btn btn-default btn-info" href="{{ path('admin') }}">Admin panel</a>
	<a class="btn btn-default" href="{{ path('admin_readers_create') }}">Create reader</a>

	{% if pagination.getTotalItemCount > 0 %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Reader ID</th>
					<th>Username</th>
					<th>Email</th>
					<th>Actions</th>
				</tr>
			</thead>

			{# table body #}
			{% for reader in pagination %}
				<tr {% if loop.index is odd %}class="color"{% endif %}>
					<td>{{ reader.id }}</td>
					<td>{{ reader.username }}</td>
					<td>{{ reader.email }}</td>
					<td><a class="btn btn-danger" href="{{ path("admin_readers_delete", {id : reader.id}) }}">Kill</a></td>
				</tr>
			{% endfor %}
		</table>
		<ul class="pagination">
			{{ knp_pagination_render(pagination) }}
		</ul>
	{% endif %}
{% endblock %}