{% extends '::base.html.twig' %}

{% block body %}
	<a class="btn btn-default btn-info" href="{{ path('admin') }}">Admin panel</a>
	{% if pagination.getTotalItemCount > 0 %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>Expired items count</th>
				</tr>
			</thead>
			<tbody>
			{% for item in pagination %}
				<tr>
					<td>{{ item.user.username }}</td>
					<td>{{ item.expiredItemsCount }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<div class="pagination">
			{{ knp_pagination_render(pagination) }}
		</div>
	{% endif %}
{% endblock %}