{% if error %}{{ error }}{% endif %}
<form action="{{ path("admin_user_security_check") }}" method="post">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token('admin') }}" />

	<label for="username">Имя пользователя</label>
	<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

	<label for="password">Пароль</label>
	<input type="password" id="password" name="_password" required="required" />

	<input type="submit" id="_submit" name="_submit" value="Login" />
</form>