{% extends '::base.html.twig' %}

{% block body %}
<form action="{{ path('admin_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
	{{ form_widget(form) }}
	<div>
		<input type="submit" value="Register" />
	</div>
</form>
{% endblock %}